@import './base.css';

@media (hover: hover) {
  .item:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}


.app-header {
  height: 54px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;;
  padding: 0 .5rem;
}

.icon-item {
  display: flex;
  place-items: center;
  place-content: center;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  width: 50px;
  height: 50px;
}